body{
	background-image: url('../img/site_bg/tweed_@2X.png');
	font-family: 'Gruppo', cursive !important;
}
hr{
    margin-bottom:5px !important;
    margin-top:5px !important;
}
#trans-card-modal1{
    color:#006588;
}
#home-usr-panel{
    background-color: #ebebeb;
}
.awr-wpr{
    background-color: white;
    padding:5px;
    border-radius: 4px;
    margin-top: 5px;
}
#answers-col{
    background-color:#F2F2F2;
    border-radius: 4px;
    border:1px solid #ccc;
}
#nt-dropdown{
    width: 400px !important;
}
.home-title{
    color:#006588;
    text-align: center;
}

.home-title h1{
    font-weight: bolder;
}

.color{
    color:#003c51;
    font-weight: bold;
}
textarea[name='feedpost']{
    resize: none;
}
.trans-card-info{
    background-color: white;
    border-radius: 4px;
    margin-top: 15%;
    padding: 5px;
    border:1px solid #ccc;
}
.trans-card-info li{
    list-style: none;
    color:#006588;
}
.trans-card-wrp{
    background-color: rgba(0, 103, 138, 1);
    border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px;
      color:white;
}
.img-responsive {
    margin: 0 auto;
}
.padding-5{
    padding: 5px !important;
}
.content{
        padding-left:15px !important;
        padding-right:15px !important;
    }
#header-banner{
    background-image: url("../img/header-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:150px;
    background-size: 500px 150px;
}

.btn-primary{
    background-image: linear-gradient(to bottom,#006588 0,#006588 50%);

}
.btn-primary:hover{
    color:#333;

}

.col-sm-12, .col-xs-12{
    padding:0px;
}

#transformations h3{
    text-align: center;
}

#site-wrapper{
    padding:0px !important;
}
.row{
    margin:0px;
}
.container{
    padding:0px;
}
.panel-heading{
	background-image: linear-gradient(to bottom,#006588 0,#006588 50%) !important;
	color:white !important;
}
#site-wrapper{
    background-color: white;
    box-shadow: 0px 0px 40px black
}

.pad-none{
	padding:0px;
}
.bottom-margin{
	margin-bottom: 15px;
}
#page-wrapper{
	background:white;
}

#sec-title{
	margin-bottom: 10px;
}
.home-pics h4{
    color:white;
}
#sec-title h3, #sec-title hr{
	color:white;
    text-align: center;
}

img[alt='header-banner'], img[alt='footer-banner'], img[alt='ad-space']{
	width:100%/9;
}
#footer{

    text-align: center;
    /*
	width:100%;
	min-height: 400px;
	background-image: url("../img/footer-banner.png");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: 1170px 200px;
    */
}
#text-warning{
    width: 500px;
    margin: auto;
}
#text-warning p{
    color:red;
    word-wrap: break-word;
    text-align: center;
}
.margin-10{
    margin-bottom: 10px;
}
/*===== CAROUSEL SECTION =====*/
.carousel-img{
    height:500px !important;
    width:100%;
}

/*===== HOME TRANSFORMATION SECTION =====*/
a.list-group-item:hover{
    background-color: #006588 !important;
    color:white;
}

a.list-group-item {
  text-align: center;
}
img[alt='bf-picture']{
   
}
img[alt='logo-picture']{
    padding-top: 40%;
    padding-bottom:30px;
}
img[alt='home-trans-photo']{
    width:100%;
    height:300px;
}

.home-trans-photo{
    width:100%;
    height:300px;
    border-radius: 4px;
    margin-bottom: 5px;
}

/*===== MIDDLE MOTIVATION AREA======*/
#motiv-title{
    font-size: 4em;
    color:white;
    text-transform: uppercase;
    text-shadow:10px 10px 20px black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding:9%;
}
#home-middle-message{
    background-image: url("../img/site_bg/blu-background.png");
    width:100%;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 0;
}
#ad-space-top img, img[alt='motiv-banner']{
	width:100%;
}

img[alt='carousel-content']{
	width:100%/9;
}
#home-new-usr{
	background-color: #006588;
}
#home-new-usr a{
	color: white;
}
.nu-link{
	text-align: center;
}
#transformations{
	background-color: white;
}
img[alt='ad-space-right']{
	  margin-top: 50px;
      margin-bottom: 20px;
}
.btn{
	background-color: #006588 !important;
	color:white;
}

/*=========Journey Slider==========*/
.slider {
    position: relative;
    
    background-color: #006588;
    height: 350px;
    margin: 10px;
    padding: 10px;
    
    overflow: hidden;
}
.track {
    position: absolute;
    top: 10px;
    left: 10px;
    
    margin: 0;
    padding: 0;
    border: 0;

    width: 2000px;
}
.progress-pic img{
	width: auto;
  	height: 200px;
}
.progress-pic {
    float: left;
    
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    text-align: center;
    width: 200px;
    height: 400px;

    color:white;
    
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.book:hover {
    opacity: 0.5;
}
.slider .left, .slider .right {
    position: absolute;
    color: white;
    font-size: 48px;
    top: 35%;
    
    cursor: pointer;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

#feed-drop-menu{
    position: relative;
    padding:5px;
}

#feed-wrapper{
    background-color: #F2F2F2;
}
#feed-panel{
    background-color: white !important;
    min-height:100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#feed-panel-b-menu{
    background-color:#003c51;
    padding: 5px;
}
#feed-panel-b-menu a{
    color:white;
}

#reply-form textarea{
    height: 40px;
}

/*===== MEDIA QUERY =====*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(min-width:500px){
    #motiv-title{
        font-size: 6em;
    }
    #header-banner{
    background-size: 550px 200px;
    height:200px;
    }
}

}
@media(min-width:560px){
    #motiv-title{
        font-size: 6.5em;
        padding:3%;
    }
    #header-banner{
    background-size: 615px 200px;
    }
}
@media(min-width:650px){
    #motiv-title{
        font-size: 7.8em;
    }
    #header-banner{
    background-size: 750px 200px;
    }

}
@media(min-width:768px){
    #motiv-title{
        font-size: 8.5em;
    }
    #header-banner{
    background-size: 750px 200px;
    }

}
@media(min-width:992px){
    #header-banner{
    background-size: 970px 200px;
    }
    #motiv-title{
        font-size: 10.5em;
    }
    .home-titles{
        padding-left:15px !important;
    }
}
@media(min-width:1200px){
    #motiv-title{
        font-size: 12em;
    }

    .home-pics{
        padding: 5px;
    }

    #sec-title h3, #sec-title hr{
    color:white;
    text-align: left;
    }

    #transformations h3{
    text-align: left;
    }

    #home-middle-message{
    width:100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 0;
    }

    #header-banner{
    background-size: 1170px 200px;
}
}
