body{
	background-image: url('../img/site_bg/tweed_@2X.png');
	font-family: 'Gruppo', cursive !important;
}
#header-banner{
    background-image: url("../img/header-banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:200px;
    background-size: 1170px 200px;
}

.row{
    margin:0px;
}
.container{
    padding:0px;
}
.panel-heading{
	background-image: linear-gradient(to bottom,#003C51 0,#003C51 50%) !important;
	color:white !important;
}
#site-wrapper{
    background-color: white;
    box-shadow: 0px 0px 40px black
}
.pad-none{
	padding:0px;
}
.bottom-margin{
	margin-bottom: 15px;
}
#page-wrapper{
	background:white;
}

#sec-title{
	margin-bottom: 10px;
}
#sec-title h3, #sec-title hr{
	color:white;
}

img[alt='header-banner'], img[alt='footer-banner'], img[alt='ad-space']{
	width:100%/9;
}
#footer{
	width:100%;
	min-height: 400px;
	background-image: url("../img/footer-banner.png");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: 1170px 200px;
}
/*===== CAROUSEL SECTION =====*/
img[alt='carousel-banner']{
    height:500px !important;
    width:100%;
}

/*===== HOME TRANSFORMATION SECTION =====*/
a.list-group-item:hover{
    background-color: #003c51 !important;
    color:white;
}

img[alt='home-trans-photo']{
    width:100%;
    height:300px;
}

/*===== MIDDLE MOTIVATION AREA======*/
#motiv-title{
    font-size: 200px;
    color:white;
    text-transform: uppercase;
    text-shadow:10px 10px 20px black;
    padding-top: 30px;
  padding-bottom: 30px;
}
#home-middle-message{
    width:100%;
    min-height: 500px;
    background-image: url("../img/site_bg/blue_smoke.png");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 0;
}
#ad-space-top img, img[alt='motiv-banner']{
	width:100%;
}

img[alt='carousel-content']{
	width:100%/9;
}
#new-usr{
	background-color: #003C51;
}
#new-usr a{
	color: white;
}
.nu-link{
	text-align: center;
}
#transformations{
	background-color: white;
}
img[alt='ad-space-right']{
	  margin-top: 50px;
}
.btn{
	background-color: #003c51 !important;
	color:white;
}

/*=========Journey Slider==========*/
.slider {
    position: relative;
    
    background-color: #003c51;
    height: 450px;
    margin: 10px;
    padding: 10px;
    
    overflow: hidden;
}
.track {
    position: absolute;
    top: 10px;
    left: 10px;
    
    margin: 0;
    padding: 0;
    border: 0;

    width: 2000px;
}
.progress-pic img{
	width: auto;
  	height: 300px;
}
.progress-pic {
    float: left;
    
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    text-align: center;
    width: 200px;
    height: 400px;

    color:white;
    
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.book:hover {
    opacity: 0.5;
}
.slider .left, .slider .right {
    position: absolute;
    color: white;
    font-size: 48px;
    top: 35%;
    
    cursor: pointer;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
