body
{
	background-image: url("../img/backgrounds/site-background.png");
	background-repeat: no-repeat;
	font-family: 'Nixie One', cursive;
	background-color: black;
}

h1,h2,h3,h4,h5,h6, a
{
	font-family: 'Nixie One', cursive !important;
}

.text-centered{
	text-align: center;
}
.trans-info li{
	list-style-type: none;
	color:white;
}
.feeds{
	background-color: white;
	margin-bottom: 10px;
}
.feeds img{
	width:100%;
	height: 80px;
}
.all-quotes{
	padding-bottom: 5px;
}
.all-quotes img{
	width: 100%;
	height:200px;
}
.sec-link{
	width: 100%;
	text-align: center;
	border-top: 1px solid black;
}
.ba-date{
	width: 100%;
	text-align: center;
}
.padding-0{
	padding:0;
}
.vp-button{
	text-align: center;
}
.button{
	background-color: #003c51;
}
.title
{
	background-image: url('../img/backgrounds/title-background.jpg');
}
.title h3
{
	color:white;
	margin: 0 0 0 10px;
	text-transform: uppercase;
}
.ba-title h5
{
	text-align: center;
	text-transform: uppercase;
}
.margin-btm-20{
	margin-bottom: 20px !important;
}

#page-wrapper
{
	background-color: white;
	width: 100%;
	padding: 2%;
	margin: auto;
}

#welcome-banner
{
	max-width: none;
}
#welcome-banner div
{
	padding: 0;
	box-shadow: 0px 10px 40px white;
}

.tab
{
	
}
.tab img{
	width: 100%;
	height: 200px;
}
.tab .title
{
	text-align: center;
	background-color: black;
}
.tab .title h3{
	color:white;
}
#footer
{
background-image:url('../img/backgrounds/footer-background.png');
background-repeat: no-repeat;
min-height:300px;
background-color:#003c51;
background-position: 90%;
color:white;
}
#footer h4
{
	color:white;
	border-bottom:1px solid white;
}
#footer ul li
{
	list-style-type: none;
}


/*===Featured Transformation===*/
#featured-transformation
{
	background-color:rgba(0, 60, 82, 0.20);
}

#ft-wrapper{
	border: 1px dashed white;
	margin: 0;
	padding-bottom:10px;
}

#ft-wrapper img{
	width:100%;
	height:450px;
}
#ft-content p{
	overflow: auto;
	height:200px;
}

/*===Transformations===*/
#transformation-wrapper
{
	padding-bottom: 10px;
}
#transformation-wrapper img
{
	height:150px;
	width:100%;
}
#transformation{
	background-color: #003c51;
	padding: 10px 0px 10px 0px;
	margin: 20px 0px 20px 0px;
}
#transformation img{
	width: 100%;
	height:350px;
}

#transformation img[alt='logo']{
	height: 150px;
	margin-top: 50%;
}

/*====Motivation====*/
#quotes img{
	width:100%;
	height:200px;
}
#quote-wrapper{
	padding-bottom: 10px;
	width:100%;
	margin:0;
}

/*====Side Bar====*/
#menu{
	text-align: center;
}
/*====quotes====*/
#qotw img{
	width:100%;
	height: 500px;
}

/*===Feed====*/
#news-feed{
	background-color:rgba(0, 60, 82, 0.20);
	font-size: 12px;
	padding: 0px;
}

#news-feed h5{
	text-align: center;
}
#news-feed h6{
	text-align: center;
}

#feed-wrapper{
	overflow: scroll;
	height:400px;
}
/*===Profile====*/

#profile-info ul{
	margin: 0;
	padding: 0;
}
#profile-info ul li{
	list-style-type: none;
}
#profile-info{
	border-bottom: 1px solid black;
}

#trans-message{
	color:white;
}

/*===Update Transformation===*/

#update-text span{
	font-style: italic;
}

#current-wd{
	text-align: center;
	list-style-type: none;
}

#update-current img{
	height:400px;
	width: 100%;
}

/*====*/
.slider {
    position: relative;
    
    background-color: #003c51;
    height: 450px;
    margin: 10px;
    padding: 10px;
    
    overflow: hidden;
}
.track {
    position: absolute;
    top: 10px;
    left: 10px;
    
    margin: 0;
    padding: 0;
    border: 0;

    width: 2000px;
}
.progress-pic img{
	width: auto;
  	height: 300px;
}
.progress-pic {
    float: left;
    
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    text-align: center;
    width: 200px;
    height: 400px;

    color:white;
    
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.book:hover {
    opacity: 0.5;
}
.slider .left, .slider .right {
    position: absolute;
    color: white;
    font-size: 48px;
    top: 35%;
    
    cursor: pointer;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    right: 0;
}